@{
    ViewData["Title"] = "Home";
}

<DOCTYPE html />

<html>
<head>
    <title>Index</title>
</head>

<body>
    <div class="container">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active carousel-size">
                    <img class="d-block w-100" src="~/images/Macarrao.jpg" alt="First slide">
                    <div class="carousel-caption carousel-text d-none d-md-block">
                        <h5 class="carousel-text"> Very good recipe!</h5>
                        <p>Learn now!</p>
                    </div>
                </div>
                <div class="carousel-item carousel-size">
                    <img class="d-block w-100" src="~/images/Brigadeiro.jpg" alt="Second slide">
                    <div class="carousel-caption carousel-text d-none d-md-block">
                        <h5 class="carousel-text"> Very good desert recipe!</h5>
                        <p>Learn now!</p>
                    </div>
                </div>
                <div class="carousel-item carousel-size">
                    <img class="d-block w-100" src="~/images/Frango.jpg" alt="Third slide">
                    <div class="carousel-caption carousel-text d-none d-md-block">
                        <h5 class="carousel-text"> Other very good recipe!</h5>
                        <p>Learn now!</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>


</body>
</html>