@model Recipes.Models.Recipe;


    <div class="container center-div">
        <br />
        <h1>Recipe of @Model.Name Added</h1>

        <h3>Click <a asp-controller="Recipe" asp-action="List">here</a> to see other recipes.</h3>

    </div>

