@model Recipes.Models.Recipe;
@{
    ViewData["Title"] = "Insert";
}


<DOCTYPE html />
<html>
<head>
    <title>Insert Page</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body>
    <div class="container">

            @Html.Partial("FormInput")


    </div>

</body>
</html>