@model Recipes.Models.Recipe;

<div class="center-div">
    <p>

        @if (Model != null)
        {
            <h1>Edit Your Recipe</h1>

        }
        else
        {
            <h1>Insert Your Recipe</h1>
        }

    </p>
</div>

<div>

    <form asp-controller="CRUD" asp-action="InsertPage" method="post">
        <div asp-validation-summary="All"></div>

        @if (Model != null)
        {
            <input type="hidden" asp-for="Id" value="@Model.Id" />

        }

        <p>
            <label asp-for="Name">Recipe name:</label>
            <input asp-for="Name" placeholder="Recipe name" />

        </p>

        <p>
            <label asp-for="Ingredients">Ingredients:</label>
            <textarea asp-for="Ingredients" placeholder="Ingredients" class="form-control" rows="3"></textarea>

        </p>

        <p>
            <label asp-for="Directions">Directions:</label>
            <textarea asp-for="Directions" placeholder="Directions" class="form-control" rows="3"></textarea>

        </p>

        <p>
            <label asp-for="ServingNumber">Serves:</label>
            <input asp-for="ServingNumber" placeholder="For how many people?" />

        </p>

        <p>
            <label asp-for="CookingTime">Cooking Time (minutes):</label>
            <input asp-for="CookingTime" placeholder="Minutes to cook?" />

        </p>



        @if (Model != null)
        {
            <button class="btn btn-primary" type="submit">Update</button>
            <button asp-controller="CRUD" asp-action="Delete" class="btn btn-danger">Delete</button>

        }
        else
        {
            <button class="btn btn-primary" type="submit">Submit</button>
            <button asp-action="Index" class="btn btn-danger">Reset</button>

        }


    </form>


</div>