
@{
    ViewData["Title"] = "Home";
}
    <body>
        <br /><br />
        <div class="content">
            <br><br><br><br><br>
            <p id="t1">The days of frantically looking for lost recipes are over!</p>
            <p>EasyRecipes takes the stress out of creating recipes. With this tool, you can create and view hundreds of delicious recipes at the click of a button.</p>
            <br><br>
            <ul class="link">
                <li>
                    @Html.ActionLink("Create Recipe", "InsertPage", "Recipes")
                </li>
            </ul>
            <br><br>
        </div>
    </body>