@model assignment4comp229.Models.Recipe

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="container d-flex justify-content-center align-items-center container">
        <div class="col-md-7">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="RecipeId" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ingredients" class="control-label"></label>
                    <input asp-for="Ingredients" class="form-control" />
                    <span asp-validation-for="Ingredients" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Icon" class="control-label"></label>
                    <input asp-for="Icon" class="form-control" />
                    <span asp-validation-for="Icon" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Time" class="control-label"></label>
                    <input asp-for="Time" class="form-control" />
                    <span asp-validation-for="Time" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreationDate" class="control-label"></label>
                    <input asp-for="CreationDate" class="form-control" />
                    <span asp-validation-for="CreationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
</div>
    </div>
    <div>
        <a asp-action="DataPage">Back to List</a>
    </div>
